body {
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/What_is_Information_Technology.webp);;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.rectangle {
    width: 960px;
    margin: 20px;
}

.square {
    width: 100%;
    float: left;
}

#logo {
    float: left;
    font-size: 60px;
    width: 600px;
}

#logo-img {
    float: left;
    font-size: 70px;
}

.tile1 {
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: mediumslateblue;
    float: left;
    text-align: center;
}

.tile1:hover {
    background-color: slateblue;
}

a.tilelink {
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 230px;
    height: 142px;
}